/* basic configs */
* {
  margin: 0%;
  padding: 0%;
}
body {
  max-height: 100vh;
  height: 100vh;
  font-family: "Open Sans", sans-serif;
}

/* HEADER */
.header {
  background-color: #e4e7eb;
  padding: 0 30px;
}
.header ul {
  height: 10vh;
  display: flex;
  list-style: none;
  justify-content: space-between;
  align-items: center;
}
.header ul li a {
  color: black;
  text-decoration: none;
}

.header ul li img {
  height: 50px;
}

.header-title {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* logo */
.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}
/* header-title */
.sub-title span {
  font-weight: bold;
  color: #0165b3;
  text-decoration: underline;
}

/* dropdown */

.dropdown {
  position: relative;
  display: inline-block;
}

.dropbtn {
  background-color: #0165b3;
  color: white;
  padding: 10px 15px;
  font-size: 16px;
  font-weight: 600;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  text-align: end;
  background-color: white;
  background-color: rgb(245, 245, 245);
  border-radius: 5px;
  min-width: 10vw;
  z-index: 1;
}

.dropdown-content span {
  color: black;
  font-weight: bold;
  padding: 15px;
  border: 1px solid #0165b3;
  border-radius: 5px;
  text-decoration: none;
  display: block;
  text-align: right;
}

.dropdown-content span:hover {
  background-color: white;
  border-radius: 5px;
}
.dropdown:hover .dropdown-content {
  display: block;
}

#submit-exit {
  width: 100%;
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

/* NAVBAR */
.navbar ul {
  background-color: #f3f4f6;
  padding: 0 30px;
  height: 5vh;
  list-style: none;
  display: flex;
  align-items: center;
  gap: 15px;
}
.navbar ul li {
  text-align: end;
}
.navbar ul li a {
  text-decoration: none;
  font-weight: 600;
  color: black;
  padding: 5px;
}

#navbar-first {
  border-bottom: 2px solid #0165b3;
  transition: border-bottom-color 0.2s ease;
}
#navbar-second {
  border-bottom: 2px solid #a902b3;
  transition: border-bottom-color 0.2s ease;
}
#navbar-third {
  border-bottom: 2px solid #b35002;
  transition: border-bottom-color 0.2s ease;
}
#navbar-fourth {
  border-bottom: 2px solid #0cb302;
  transition: border-bottom-color 0.2s ease;
}
#navbar-fifth {
  border-bottom: 2px solid #b3010c;
  transition: border-bottom-color 0.2s ease;
}
#navbar-first:hover,
#navbar-second:hover,
#navbar-third:hover,
#navbar-fourth:hover,
#navbar-fifth:hover {
  color: #3c464c;
  border-bottom: 2px solid #3c464c;
}

.create-demand {
  flex-grow: 1;
}

/* MAIN DISPLAY */
.content {
  display: flex;
  flex-direction: row-reverse;
  height: 85vh;
}
.section {
  width: 12vw;
}
.main {
  width: 88vw;
}

/* SECTION */
.section {
  display: flex;
  flex-direction: column;
  background-color: #333b40;
  color: white;
  overflow-y: auto;
  overflow-x: hidden;
}
.section ul {
  list-style: none;
}
.section ul li {
  padding: 0.25em 1em;
}

.sector {
  background-color: #3c464c;
  border: 1px solid black;
  border-left: none;
  border-right: none;
}

.section ul li a {
  color: white;
  text-decoration: none;
}
.username-active {
  /* font-weight: bold; */
  /* padding: 0.25em 0; */
  background-color: #0165b3;
}

/* FORM */

.sectors-selected {
  display: flex;
  gap: 5px;
}
.no-arrow {
  appearance: none;
  -webkit-appearance: none;
  text-align: center;
  width: 5vw;
  cursor: default;
}

/* USER */

div.dt-container {
  width: 95%;
  margin: 0 auto;
}
