/* basic configs */
* {
  margin: 0%;
  padding: 0%;
}
body {
  max-height: 100vh;
  height: 100vh;
}
/* main display */
.content {
  display: flex;
}
.section {
  width: 20%;
}
.main {
  width: 80%;
}

/* HEADER */
.header ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header ul li a {
  color: black;
  text-decoration: none;
}

.header ul li img {
  height: 50px;
}

.header-title {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* NAVBAR */
.navbar ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 15px;
}
.navbar ul li {
  text-align: end;
}
.navbar ul li a {
  color: black;
  /* text-decoration: none; */
}
.create-demand {
  flex-grow: 1;
}

/* SECTION */
.section {
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;
  height: 50vh;
}
.users ul {
  list-style: none;
}
.users ul li a {
  color: black;
  text-decoration: none;
}
